body {
  min-height: 100vh;
  font-family: "IBMPlexSans-Medium";
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h4 {
  padding: 0px;
  margin: 5px;
  color: white;
}

label {
  color: white;
}

.quicklist-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4c4e4d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.textbox {
<<<<<<< HEAD

  margin: 5px;
  border-radius: 20px;
=======
  margin: 0px 10px 10px 10px;
  border-radius: 10px;
>>>>>>> 229824a6d09c535ce7db4cfbb92f9b3cd920e660
  width: auto;
  padding: 10px;
  font-size: 16px;
  position: relative;
  border-color: rgb(8, 8, 8);
<<<<<<< HEAD


=======
>>>>>>> 229824a6d09c535ce7db4cfbb92f9b3cd920e660
}

.textbox:focus {
  outline: none;
}

.textbox::placeholder {
  color: rgb(115, 120, 124);
  text-align: center;
  width: 50px;
}

.create {
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  margin: 0;
}

#id0 {
  background-color: #ddca67;
}

#id1 {
  background-color: #e39853;
}

#id2 {
  background-color: #e79880;
}

.App h1 {
  margin: 1em 0 0.5em 0;
  color: #030303;
  font-weight: normal;
  font-family: "IBMPlexSans-Medium";
  font-size: 26px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
}

.nav-container h1 {
  font-family: "IBMPlexSans-Medium";
  color: black;
  text-shadow: 0 1px white, 0 2px #777;
}

.entries {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: contents;
  margin: 0 50px;
}

.todo-text-input {
  width: 250px;
  height: 20px;
  min-width: 100px;
  padding: 10px;
  margin: 10px;
  font-family: "IBMPlexSans-Medium";
  font-size: 15px;
  color: rgb(65, 60, 60);
  background-color: rgb(255, 255, 255, 0, 5);
  border: 1px solid #444;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.todo-button {
  width: 70px;
  height: 25px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  font-family: "IBMPlexSans-Medium";
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

.addNew {
  background-color: #776b68;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.addNew:focus {
  outline: none;
}

.cut {
  text-decoration: line-through;
  background-color: white;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #444;
  margin: 5px;
}

.submit {
  width: 70px;
  height: 25px;
  background-color: #86cb81;
  color: black;
  border: none;
  font-family: "IBMPlexSans-Medium";
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
}
.priority {
  width: auto;
  min-width: 100px;
  padding: 5px;
  font-family: "IBMPlexSans-Medium";
  font-size: 15px;
  color: rgb(65, 60, 60);
  background-color: rgb(255, 255, 255, 0, 5);
  border-radius: 10px;
}

.quicklist-container {
  width: auto;
  min-width: 100px;
  padding: 5px;
  margin: 5px;
  font-family: "IBMPlexSans-Medium";
  font-size: 15px;
  color: rgb(65, 60, 60);
  background-color: rgb(255, 255, 255, 0, 5);
  outline: none;
}

.quicklist {
  width: 100px;
  background-color: #86cb81;
  color: black;
  border: none;
  font-family: "IBMPlexSans-Medium";
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}
